@media (max-width: 480px) {

    /*HEADER*/

    .header__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
        margin-left: 2rem;
    }
    
    .header__nav--link {
        text-align: center;
    }

    /*BANNER*/

    .banner {
        display: flex;
        justify-content: center;
    }

     .banner__box {
        display: flex;
        flex-direction: column;
        top: 9px;
        left: auto;
        padding: 0.625rem 0.625rem;
     }

     .banner__box--title {
        font-size: 1.5rem;
        margin-bottom: 0.625rem;
        text-shadow: 3px 3px 0px #000;
     }

     .banner__box--subtitle {
        font-size: 1rem;
        text-shadow: 3px 3px 0px #000;

     }

    /*SKILLS*/

    .skills {
        padding-bottom: 3.75rem;
    }

    .skills__title {
        margin-bottom: 3.75rem;
    }

    .skills__wrapper {
        justify-content: center;
    }

    .skills__article {
        margin-bottom: 60px;
    }

    .skills__figure--icone {
        width: 80px;
    }

    .skills__article--title {
        font-size: 1.25rem;
    }

    .skills__article--prog-bar {
        width: 13rem;
    }

    /*PROJETOS*/
  
    
    .projetos {
        padding-bottom: 3.75rem;
    }
    
    .projetos__title {
        margin-bottom: 5.75rem;
    }

    .projetos__wrapper {
        flex-direction: column;
    }

    .projetos__card--image {
        width: 240px;
        height: 240px;
    }

    .projetos__button {
        width: 16.05rem;
    }

    /*SOBRE*/

    /*CONTATOS*/

    /*FOOTER*/

}