* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem; /* aqui, REM ou PX? */
    border-bottom: 0.625rem solid #000; /* aqui, REM ou PX? */
    background-color: #7B9E89;;
}

.header__figure--img {
    width: 5.625rem; /* aqui, REM ou PX? */
    height: 5.625rem; /* aqui, REM ou PX? */
    box-shadow: 0.25rem 0.25rem 0rem #000; /* aqui, REM ou PX? */
}

.header__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem; /* Alterar depois */
}

.header__nav--link::before {
    content: "";
    background-color: #F18805;
    height: 0.625rem; /* aqui, REM ou PX? */
    width: 0.625rem; /* aqui, REM ou PX? */
    margin-right: 0.625rem; /* aqui, REM ou PX? */
}

.header__nav--link {
    display: inline-flex;
    font-size: 1.25rem; /* aqui, REM ou PX? */
    font-weight: 600;
    text-decoration: none;
    margin-right: 1rem; /* Alterar depois */ /* aqui, REM ou PX? */
    color: #000;
    align-items: center;
    transition: color 0.2s ease, transform 0.1s ease;
}

.header__nav--link:hover {
    transform: scale(1.07);
    color: #383838;
}

.header__button {
    font-size: 1.25rem; /* aqui, REM ou PX? */
    font-weight: 600;
    background-color: #F18805;
    height: 3.75rem; /* aqui, REM ou PX? */
    box-shadow: 0.25rem 0.25rem 0rem #000; /* aqui, REM ou PX? */
    padding: 0rem 1.25rem; /* aqui, REM ou PX? */
    line-height: 3.75rem; /* aqui, REM ou PX? */
    transition: color 0.2s ease, transform 0.1s ease;
}

.header__button:hover {
    transform: scale(1.07);
    color: #383838;
}

/*BANNER*/

.banner {
    position: relative;
    border-bottom: 0.625rem solid #000; /* aqui, REM ou PX? */
}

.banner__figure--img {
    display: block;
    width: 100%; /* aqui, REM ou PX? */
    height: 100%; /* aqui, REM ou PX? */
}

.banner__box {
    position: absolute;
    text-align: center;
    top: 4rem; /* aqui, REM ou PX? */
    left: 3rem; /* aqui, REM ou PX? */
    background-color: #F18805;
    box-shadow: 0.25rem 0.25rem 0rem #000; /* aqui, REM ou PX? */
    padding: 1.5rem 2rem; /* aqui, REM ou PX? */
}

.banner__box--title {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    font-size: 40px; /* aqui, REM ou PX? */
    text-shadow: 5px 5px 0px #000; /* aqui, REM ou PX? */
    margin-bottom: 16px;
}

.banner__box--subtitle {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    font-size: 30px;  /* aqui, REM ou PX? */
    text-shadow: 5px 5px 0px #000;  /* aqui, REM ou PX? */
}

/* SKILLS */

.skills {
    background-color: #F18805;
    padding-top: 3.125rem; /* aqui, REM ou PX? */ 
    padding-bottom: 100px; /* aqui, REM ou PX? */
    border-bottom: 0.625rem solid #000;  /* aqui, REM ou PX? */
}

.skills__title {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    font-size: 2.5rem; /* aqui, REM ou PX? */
    text-shadow: 0.313rem 0.313rem 0rem #222222; /* aqui, REM ou PX? */
    text-align: center;
    margin-bottom: 60px; /* aqui, REM ou PX? */
}

.skills__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px; /* aqui, REM ou PX? */
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.skills__article {
    display: flex;
    align-items: center;
    margin-bottom: 40px; /* aqui, REM ou PX? */
    /* margin-right: 100px; */ /* qual papel disso? precisa mesmo? */
}

.skills__figure--icone {
    width: 90px; /* aqui, REM ou PX? */
    margin-right: 25px; /* aqui, REM ou PX? */
}

.skills__article--wrapper {
  
}

.skills__article--title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.563rem; /* aqui, REM ou PX? */
    color: #000;
    margin-bottom: 8px; /* aqui, REM ou PX? */
}

.skills__article--prog-bar {
    background-color: #fff;
    border: 5px solid #000; /* aqui, REM ou PX? */
    height: 40px; /* aqui, REM ou PX? */
    width: 320px; /* aqui, REM ou PX? */
}

/* PROJETOS */

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding-top: 3.125rem; /* aqui, REM ou PX? */
    padding-bottom: 100px;
    border-bottom: 0.625rem solid #000; /* aqui, REM ou PX? */
}

.projetos__title {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    font-size: 2.5rem; /* aqui, REM ou PX? */
    text-shadow: 0.313rem 0.313rem 0rem #222222; /* aqui, REM ou PX? */
    text-align: center;
    margin-bottom: 100px; /* aqui, REM ou PX? */
}

.projetos__wrapper {
    display: flex;
    box-sizing: border-box;
    gap: 100px; /* aqui, REM ou PX? */
    justify-content: center;
    max-width: 960px; /* aqui, REM ou PX? */
    margin-right: auto;
    margin-left: auto;
}

.projetos__rotate-card {
    perspective: 1000px;
    width: 280px;
    height: 280px;
    position: relative;
}

.projetos__rotate-card--front, .projetos__rotate-card--back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Esconde o verso quando ele está de costas */
    transition: transform 0.6s ease;
}

.projetos__rotate-card--back {
    transform: rotateY(180deg); /* A parte de trás começa virada */
}

.projetos__rotate-card:hover .projetos__rotate-card--front {
    transform: rotateY(180deg); /* Rotaciona a parte da frente no hover */
}

.projetos__rotate-card:hover .projetos__rotate-card--back {
    transform: rotateY(360deg); /* Rotaciona a parte de trás para ficar visível */
}

.projetos__rotate-card--figure {

}

.projetos__figure--img {
    width: 280px; /* aqui, REM ou PX? */
    height: 280px; /* aqui, REM ou PX? */
    box-shadow: 10px 10px 0px #fff; /* aqui, REM ou PX? */
    
}

.projetos__button {
    display: flex;
    background-color: #F18805;
    height: 3.75rem; /* aqui, REM ou PX? */
    width: 360px;
    box-shadow: 0.25rem 0.25rem 0rem #fff; /* aqui, REM ou PX? */
    padding: 0rem 1.25rem; /* aqui, REM ou PX? */
    margin-top: 100px;
    line-height: 3.75rem; /* aqui, REM ou PX? */
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    transition: color 0.2s ease, transform 0.1s ease;
}

.projetos__button:hover {
    transform: scale(1.07);
}

.projetos__button--figure {
    display: flex;
    gap: 15px; /* aqui, REM ou PX? */
    align-items: center;
}

.projetos__button--img {
    width: 70%;
    height: 70%; /*precisa disso mesmo? tem forma melhor de escrver isos?*/
}

.projetos__button--figcaption {
    color: #000;
    font-size: 1.25rem; /* aqui, REM ou PX? */
    font-weight: 600;
}

.projetos__button--figcaption:hover {
    color: #383838;
}


/* SOBRE */

.sobre {
    background-color: #7B9E89;
    padding-top: 3.125rem; /* aqui, REM ou PX? */
    padding-bottom: 100px; /* aqui, REM ou PX? */
    border-bottom: 0.625rem solid #000; /* aqui, REM ou PX? */
}

.sobre__title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 2.5rem; /* aqui, REM ou PX? */
    color: #fff;
    text-shadow: 0.313rem 0.313rem 0rem #222222; /* aqui, REM ou PX? */
    text-align: center;
    margin-bottom: 60px; /* aqui, REM ou PX? */
}

.sobre__wrapper {
    margin: 0px 80px; /* aqui, REM ou PX? */
}

.sobre__description {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.063rem; /* aqui, REM ou PX? */
    line-height: 220%; /* aqui, REM ou PX? */
    color: #000;
    margin-bottom: 17px; /* aqui, REM ou PX? */
}

/* CONTATOS */

.contatos {
    background-color: #3A4042;
    padding-top: 3.125rem; /* aqui, REM ou PX? */
    padding-bottom: 100px; /* aqui, REM ou PX? */
    border-bottom: 0.625rem solid #000; /* aqui, REM ou PX? */
}

.contatos__title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 2.5rem; /* aqui, REM ou PX? */
    color: #fff;
    text-shadow: 0.313rem 0.313rem 0rem #222222; /* aqui, REM ou PX? */
    text-align: center;
    margin-bottom: 100px; /* aqui, REM ou PX? */
}

.contatos__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.contatos__button {
    display: flex;
    background-color: #F18805;
    height: 3.75rem; /* aqui, REM ou PX? */
    width: 360px;
    box-shadow: 0.25rem 0.25rem 0rem #000; /* aqui, REM ou PX? */
    padding: 0rem 1.25rem; /* aqui, REM ou PX? */
    line-height: 3.75rem; /* aqui, REM ou PX? */
    cursor: pointer;
    pointer-events: auto;
    text-decoration: none;
    justify-content: center;
    transition: color 0.3s ease, transform 0.1s ease;
}

.contatos__button:hover {
    transform: scale(1.07);
    color: #383838;
}

.contatos__button--figure{
    display: flex;
    gap: 15px; /* aqui, REM ou PX? */
    align-items: center;
}

.contatos__button--img {
    width: 70%;
    height: 70%; /*precisa disso mesmo? tem forma melhor de escrver isos?*/
}

.contatos__button--figcaption {
    color: #000;
    font-size: 1.25rem; /* aqui, REM ou PX? */
    font-weight: 600;
}

.contatos__button--figcaption:hover {
    color: #383838;
}

/* FOOTER */

.footer {
    background-color: #000;
    padding-top: 10px; /* aqui, REM ou PX? */
    padding-bottom: 20px; /* aqui, REM ou PX? */
}

.footer__title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1rem; /* aqui, REM ou PX? */
    color: #fff;
    text-align: center;
    margin-bottom: 20px; /* aqui, REM ou PX? */
}

.footer__description {
    font-size: 0.7rem; /* aqui, REM ou PX? */
    color: #fff;
    text-align: center;
}




