* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    border-bottom: 10px solid #000; 
    background-color: #7B9E89;;
}

.header__figure--img {
    width: 80px;
    height: 80px;
    box-shadow: 4px 4px 0px #000;
}

.header__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__nav--link::before {
    content: "";
    background-color: #F18805;
    height: 0.625rem;
    width: 0.625rem;
    margin-right: 0.625rem;
}

.header__nav--link {
    display: inline-flex;
    font-size: 1.25rem; 
    font-weight: 600;
    text-decoration: none;
    margin-right: 1rem; 
    color: #000;
    align-items: center;
    transition: color 0.2s ease, transform 0.1s ease;
}

.header__nav--link:hover {
    transform: scale(1.07);
    color: #383838;
}

/*BANNER*/

.banner {
    position: relative;
    border-bottom: 10px solid #000;
}

.banner__figure--img {
    display: block;
    width: 100%;
    height: 100%;
}

.banner__box {
    position: absolute;
    text-align: center;
    top: 64px;
    left: 48px;
    background-color: #F18805;
    box-shadow: 4px 4px 0rem #000;
    padding: 1.5rem 2rem;
}

.banner__box--title {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 5px 5px 0px #000;
    margin-bottom: 1rem;
}

.banner__box--subtitle {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    font-size: 1.875rem;
    text-shadow: 5px 5px 0px #000;
}

/* SKILLS */

.skills {
    background-color: #F18805;
    padding-top: 3.125rem; 
    padding-bottom: 6.25rem;
    border-bottom: 10px solid #222222;/
}

.skills__title {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 5px 5px 0px #222222;
    text-align: center;
    margin-bottom: 3.75rem;
}

.skills__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.skills__article {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    transition: transform 0.2s ease;
}

.skills__article:hover {
    transform: translateX(10px);
}

.skills__figure--icone {
    width: 90px;
    margin-right: 1.563rem;
}

.skills__article--title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.563rem;
    color: #000;
    margin-bottom: 0.5rem;
}

.skills__article--prog-bar {
    background-color: #fff;
    border: 5px solid #000;
    height: 2.5rem;
    width: 20rem;
}

/* PROJETOS */

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
    border-bottom: 10px solid #F18805;
}

.projetos__title {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 5px 5px 0px #222222;
    text-align: center;
    margin-bottom: 6.25rem;
}

.projetos__wrapper {
    display: flex;
    box-sizing: border-box;
    gap: 6.25rem;
    justify-content: center;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.projetos__card {
    transition: transform 0.1s ease;
}

.projetos__card:hover {
    transform: scale(1.03);
}

.projetos__card--img {
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #fff;
}

.projetos__button {
    display: flex;
    background-color: #F18805;
    height: 3.75rem;
    line-height: 3.75rem;
    width: 22.5rem;
    box-shadow: 4px 4px 0rem #fff;
    padding: 0rem 1.25rem;
    margin-top: 6.25rem;
    line-height: 3.75rem;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    transition: color 0.2s ease, transform 0.1s ease;
}

.projetos__button:hover {
    transform: scale(1.07);
}

.projetos__button--figure {
    display: flex;
    gap: 0.938rem;
    align-items: center;
}

.projetos__button--img {
    width: 70%;
    height: 70%;
}

.projetos__button--figcaption {
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
}

.projetos__button--figcaption:hover {
    color: #383838;
}

/* SOBRE */

.sobre {
    background-color: #7B9E89;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
    border-bottom: 10px solid #000;
}

.sobre__title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 5px 5px 0px #222222;
    text-align: center;
    margin-bottom: 3.75rem;
}

.sobre__wrapper {
    margin: 0rem 5rem;
}

.sobre__description {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.063rem;
    line-height: 220%;
    color: #000;
    margin-bottom: 1.063rem;
}

/* CONTATOS */

.contatos {
    background-color: #3A4042;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
}

.contatos__title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 5px 5px 0px #222222;
    text-align: center;
    margin-bottom: 6.25rem;
}

.contatos__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.contatos__button {
    display: flex;
    background-color: #F18805;
    height: 3.75rem;
    line-height: 3.75rem; 
    width: 22.5rem;
    box-shadow: 4px 4px 0rem #000;
    padding: 0rem 1.25rem;
    cursor: pointer;
    pointer-events: auto;
    text-decoration: none;
    justify-content: center;
    transition: color 0.3s ease, transform 0.1s ease;
}

.contatos__button:hover {
    transform: scale(1.07);
    color: #383838;
}

.contatos__button--figure{
    display: flex;
    gap: 0.938rem;
    align-items: center;
}

.contatos__button--img {
    width: 70%;
    height: 70%;
}

.contatos__button--figcaption {
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
}

.contatos__button--figcaption:hover {
    color: #383838;
}

/* FOOTER */

.footer {
    background-color: #000;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.footer__title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1.25rem;
}

.footer__description {
    font-size: 0.7rem;
    color: #fff;
    text-align: center;
}

